.container {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 8% 15%
}

.carrinho {
    display: flex;
    background-color: #C7E8CA;
    border-radius: 15px;
    justify-content: flex-start;
    align-self: center;
    align-items: flex-start;
    padding: 4% 8%;
}

.carrinho__titulo {
    font-family: 'Poppins';
    font-size: 24px;
    margin-bottom: 2%;
    
}

.carrinho__subtitulo {
    font-family: 'Nunito';
    margin-bottom: 4%;
}


.carrinho__resumo {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.carrinho__resumo__frete {
    display:flex;
}

.carrinho__resumo__valor {
    display:flex;
    justify-content: space-around;
}